@charset "ISO-8859-1";
body {
		background-color: #408080;
		
}
div {
	height:200px;
	width:300px;
	text-align: center;
	background-color: #004040;
	justify-content: center;
	margin-top: 13%;
	margin-left: 40%;
	
}