<!DOCTYPE html>
<html xmlns:th="http://www.thyeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Tunehub AdminHome</title>
<link rel="stylesheet" th:href="@{/css/adminHome.css}">
</head>
<body style="background-image: url('/images/adminHome.jpg');">

<div>
<h1>Welcome To Admin Home Page</h1>
	<h1>Admin Home Page : </h1>
	<a href="newSongs"><button>Add a new songs</button></a>
	<a href="viewSongs"><button>View all songs</button></a>
	<a href="createPlayList"><button>Create PlayList</button></a>
	<a href="viewPlayList"><button>View All PlayList</button></a><br><br>
	<a href="logout"><button>LOGOUT</button></a>
	</div>
</body>
</html>