<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Tunehub Login</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body style="background-image: url(/images/login.jpg);">
	<form action="/validate" method="post">
	
	<div>
	<h1>Welcome to Login Page</h1>
	</br>
	<h1>LOGIN</h1>
	</br>
	 <label>Email : </label>
		 <input type="email" placeholder="ENTER EMAIL" name="email" required="required"><br><br>
		 
		 <label>Password : </label> 
		 <input type="password"placeholder="ENTER PASSWORD" name="password" required="required"><br><br>
		 <p> <a href="/forgotPassword">Forgot password?</a> </p><br>
		 <p>Do you want to <a href="/register">Register?</a> </p><br>
		 <input type="submit" value="LOGIN">
		 </div>
		 </form>
	
			 

</body>
</html>